<div class="main"> 
  <div class="inner">
    <div class="user__wrapper">
      <div class="user-name">
        <%= @user.name%>
      </div>
        <table border = "1" class="table">
          <tbody>
            <tr>
              <th class="table_1">hoge</th>
              
              <td class="table_2"><%= :hoge %></td>
           
            </tr>
            <tr>
              <th class="table_1">hoge</th>
              <td class="table_2"><%= :hoge %></td>
            </tr>
            <tr>
              <th class="table_1">hoge </th>
              <td class="table_2"><%= :hoge %></td>
            </tr>
          </tbody>
        </table>
      <div class= "log-in">
        <% if current_user.id == @user.id %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>