<div class="main"> 
  <div class="inner">
    <div class="user__wrapper">
      <div class="user-name">
        <%= @user.name%>
      </div>
      <% if current_user.id == @user.id %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% end %>

      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= :hoge %></td>
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= :hoge %></td>
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= :hoge %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%# render partial: "/prototypes/prototype" , collection: (@user.prototypes)%>
      </h2>
      <div class="user__card">
  
      </div>
    </div>
  </div>
</div>