<%= form_with model: car,  class: 'form' do |f| %>
    <%= f.label :納車予定日, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select text-input' %>

    <%= f.label :車種選択, class: 'lavel' %>
    <div class = 'heads-up'>
      *必須
    </div>
    <%= f.text_field :car, class: 'text-input' %>

    <%= f.label :"車両 No", class: 'lavel' %>
    <div class = 'heads-up'>
      *必須
    </div>
    <%= f.text_field :number, class: 'text-input' %>
    
    <%= f.label :お客様名, class: 'lavel' %>
    <div class = 'heads-up'>
      *必須
    </div>
    <%= f.text_field :name, class: 'text-input' %>

    <%= f.label :価格, class: 'lavel' %>
    <%= f.number_field :price, class: 'text-input' %>

    <%= f.label :受付者, class: 'lavel' %>
    <%= f.collection_select(:front_id, User.all, :id, :name, {prompt: "担当者を選択してください"}, {class: ' text-input'}) %>

    <%= f.label :鈑金者, class: 'lavel' %>
    <%= f.collection_select(:body_id, User.all, :id, :name,{prompt: "担当者を選択してください"}, {class: ' text-input'}) %>
    
    <%= f.label :塗装者, class: 'lavel' %>
    <%= f.collection_select(:paint_id, User.all, :id, :name,{prompt: "担当者を選択してください"}, {class: ' text-input'}) %>
    
    <div class = 'btn'>
      <%= f.submit '保存' %>
    </div>
<% end %>
