<!DOCTYPE html>
<html>
  <head>
    <title>WorkerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="header-names">
          <% if user_signed_in? %>
            <div class= "header-name">
              <%= link_to current_user.name, user_path(current_user) %>
            </div>
          <% end %>
          <div class="header-name">
            <%= link_to '納車予定', root_path %>
          </div>   
          <div class="header-name">
            <%= link_to '車種情報を記入', new_car_path %>
          </div>
          <div class="header-name">
            <%= link_to '車両情報', cars_path %>
          </div>
       </div>
    </header>
    <%= yield %>
  </body>
</html>
